/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #D73F24;   /* Glutrot */
    --secondary-color: #EC753A; /* Glühendes Orange */
    --background-color: #565656; /* Dunkles Schwarz */
    --text-color: #FFFFFF;       /* Weiß */
    --font-family: 'Roboto', sans-serif;
    --border-radius: 8px;
  }

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

button {
  cursor: pointer;
  text-align: center;
  border-radius: 12px;
  border: 0;
  font-size: 16px;
}