header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100px;
    width: 100%;
    margin: 0;
    background-color: #333333;
}
header div img {
    width: 140px;
    height: 100%
}
.header-app-name {
    display: flex;
    justify-content: center;
}
#app-name {
    color: var(--text-color);
}
.buttons {
    margin-left: auto; /* Flex-Item an das Ende schieben */
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
button {
    color: var(--text-color);
    background: linear-gradient( var(--primary-color), var(--secondary-color));
    font-size: 30px;
}